:root {
    --color-primary: #f34309;
    --color-secondary: black;
    --color-headings: white;
    --color-selected: #61696b;
    --color-whitehover: #d6cfcf;
}

html {
    /*
    standard form in web browsers is 16px
    62.5% of 16px is 10px
    */
    font-size: 62.5%;
}

body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: var(--color-selected);
    font-size: 2.8rem;
    line-height: 3.2rem;
}

h1,
h2,
h3 {
    color: var(--color-headings);
}

h1 {
    font-size: 7.2rem;
    color: var(--color-primary);
}

h2 {
    font-size: 4.5rem;
}

h3 {
    font-size: 3.6rem;
    /* margin-bottom: 2rem; */
}

/*Links*/
a {
    text-decoration: none;
    font-size: 1.8rem;
}

.link-arrow {
    color: var(--color-headings);
    font-size: 2.5rem;
    font-weight: bold;
}

.link-arrow::after {
    content: "-->";
    margin-left: 5px;
    transition: margin 0.15s;
}

.link-arrow:hover::after {
    margin-left: 10px;
}

header {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    background: black;
}

header nav ul {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 3rem;
    }

    h1 {
        font-size: 8rem;
    }

    h2 {
        font-size: 5.2rem;
    }

    h3 {
        font-size: 4rem;
    }

    .link-arrow {
        font-size: 2rem;
    }

    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid white;
    }

    header .nav-logo {
        height: 10rem;
        width: 10rem;
    }

    header nav ul {
        flex-direction: row;
        list-style: none;
    }

    header nav ul li a {
        color: var(--color-headings);
        margin: 0 15px;
    }

    header nav ul li a:hover {
        color: var(--color-primary);
    }

    section {
        display: grid;
        /* margin-top: 10rem; */
        grid-template: auto/100rem;
        justify-items: center;
        align-items: center;
        justify-content: center;

        background: black;
        transition: data-aos 0.5s;
    }

    section .main-about {
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        align-items: center;
        transition: data-aos 5s;
    }

    section .main-about_h1 {
        margin-bottom: 6rem;
    }

    section .main-about_h2 {
        margin-bottom: 3rem;
        font-size: 3rem;
        font-weight: lighter;
    }

    section p {
        font-size: 2rem;
        margin-bottom: 3rem;
        color: var(--color-headings);
    }

    section .learn-more-btn {
        width: 15rem;
        height: 4rem;
        font-size: 1.5rem;
        background: var(--color-primary);
        text-align: center;
        justify-content: center;
        color: var(--color-headings);
        margin-bottom: 10rem;
        border-radius: 2.5rem;
        padding-top: 1rem;
    }

    section .learn-more-btn:hover {
        background: #ba3d18;
    }

    .get-in-touch {
        background: #f36c4f;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: 4rem 5rem;
    }

    .body-logo {
        height: 20rem;
        width: 20rem;
        border-radius: 50%;
        overflow: hidden;
        margin-top: 3rem;
    }

    .about-us {
        margin-top: 3rem;
    }

    .about-us h2 {
        font-size: 3rem;
        font-weight: lighter;
        margin-top: 2rem;
    }

    .about-us h3 {
        font-size: 2.5rem;
        font-weight: lighter;
        margin-top: 2rem;
    }

    .about-us p {
        font-size: 2rem;
        color: var(--color-headings);
        margin-top: 2rem;
    }

    .get-in-touch-btn {
        background: var(--color-headings);
        border-radius: 100px;
        color: var(--color-secondary);
        box-sizing: border-box;
        padding: 1rem 2rem;
        display: inline-block;
        margin-top: 2rem;
    }
    .get-in-touch-btn:hover {
        background: var(--color-whitehover);
    }

    /* a .get-in-touch-btn {
        margin-bottom: 3rem;
    } */

    .book-now {
        background: var(--color-secondary);
        border: 3px solid #d3d3d3;
        display: flex;
        padding: 2rem 0;
    }

    .book-now-box {
        background: var(--color-secondary);
        border: 2px solid white;
        transition: transform 0.5s;
        flex: 1;
        margin: 0 2rem;
    }

    .book-now-box img {
        height: 100%;
        width: 100%;
    }

    .content h2 {
        font-size: 3rem;
        font-weight: lighter;
        margin: 2rem 2rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid #d3d3d3;
    }

    .book-now-box:hover {
        transform: perspective(200px) translateZ(5px);
    }

    .description li {
        list-style-type: none;
        color: var(--color-headings);
        font-size: 2rem;
        padding: 0.5rem 2rem;
    }

    .book-now-btn {
        height: 2rem;
        width: 8rem;
        background: var(--color-primary);
        color: var(--color-headings);
        padding: 1rem;
        /* display: inline-block; */
        margin: 0.5rem 2rem;
    }

    .owner-message {
        display: flex;
        margin: 4rem;
        background: var(--color-secondary);
    }

    .owner-message img {
        height: 100%;
        width: 50%;
    }

    .message {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 3rem;
    }

    .message h2 {
        font-size: 3rem;
        font-weight: lighter;
        margin-bottom: 2rem;
    }
    .message h3 {
        font-size: 2.5rem;
        font-weight: lighter;
    }

    .video-slider {
        display: flex;
    }

    .slide {
        margin: 0.2rem;
    }

    .schedule-session {
        display: flex;
        margin: 4rem;
        background: var(--color-primary);
        text-align: center;
    }

    .schedule-session img {
        height: 100%;
        width: 50%;
    }

    .schedule-session h2 {
        font-size: 4rem;
        color: var(--color-headings);
    }

    .schedule-session p,
    a {
        color: var(--color-headings);
        font-size: 2rem;
    }

    footer {
        background: #222222;
        display: flex;
        text-align: center;
        justify-content: center;
    }
    footer h2 {
        font-size: 2rem;
        color: var(--color-headings);
    }

    footer p,
    a {
        color: #6c6c6c;
        font-size: 1.5rem;
    }

    footer a:hover {
        color: var(--color-headings);
    }

    .video-slider {
        overflow-x: scroll;
    }

    .slide-arrow {
        position: "absolute";
    }

    .slide-arrow .left {
        left: 10px;
    }

    .slide-arrow .right {
        right: 10px;
    }
}
